.bg {
  background-color: rgb(14, 15, 26);
}
.mid {
  background-color: rgba(255, 255, 255, 0.06);
  color: white;
  font-family: sans-serif;
  text-align: left;
  font-size: xx-large;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
  border-bottom-width: 100px;
}
.form {
  float: right;
}
.login {
  float: right;
  color: white;
  background-color: rgb(14, 15, 26);
  font-family: sans-serif;
  border-width: 1px 1px 1px 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.login:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.end {
  margin-top: 50px;
  margin-left: 20%;
  color: aqua;
  font-family: sans-serif;
  font-size: xx-large;
}
